/* Login.css */

.login-container {
  display: flex;
  height: 100vh;
  background-color: #f5a623; /* Warna kuning utama */
}

.login-left {
  flex: 1;
  background-color: #002b46;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-right {
  flex: 1;
  background-color: white;
  padding: 2rem 3rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-text {
  color: #a3531a;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
}

.slogan {
  font-size: 0.8rem;
  color: #6b7280;
  margin-bottom: 2rem;
}

.login-form h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.login-form input {
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
}

.login-form button {
  padding: 0.6rem;
  background-color: #a3531a;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.login-form button:disabled {
  background-color: #e2e8f0;
  cursor: not-allowed;
}
